{% extends 'base.html.twig' %}

{% block body %}
	{# <link href="ressources/css/1.css" rel="stylesheet"> #}
	<div id="wrapper">
		<div id="container">
			<div id="welcome">
				<h1>Planets list</h1>
				<table>
					<thead>
						<td>Name</td>
						<td>Color</td>
						<td colspan="2"></td>
					</thead>
					<tbody>
						{% for planet in planets %}
							<tr>
								<td>{{ planet.name }}</td>
								<td>{{ planet.maincolor }}</td>
								<td class="td_actions">
									<a href="#">edit</a>
								</td>
								<td class="td_actions">
									<a href="{{ path('planet_show', {'idPlanet': planet.idPlanet}) }}">sup</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="div_tr"></div>
				<span>
					<a href="">add new planet</a>
				</span>
			</div>
		</div>
	</div>

	{% block javascripts %}
		<script>
			function check() {
				alert("check");
			}
		</script>
	{% endblock %}

{% endblock %}


{% block stylesheets %}
	<style>
		h1 {
			color: orange;
		}

		table {
			border: solid 1px black;
			width: 30%;
			border-radius: 7px;
		}

		tr:hover {
			background-color: rgb(193, 226, 211);
		}

		td {
			padding-left: 5px;
		}

		thead {
			font-weight: bold;
			background-color: #fff8b3;
		}

		a:hover {
			font-style: italic;
			color: orange;
		}

		span {
			padding-left: 5px;
		}

		.div_tr {
			height: 6px;
		}

		.td_actions {
			width: 15%;
		}
	</style>
{% endblock %}


{# {% block title %}Hello PlanetsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/sf/src/Controller/PlanetsController.php'|file_link(0) }}">src/Controller/PlanetsController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/sf/templates/planets/index.html.twig'|file_link(0) }}">templates/planets/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %} #}
