{% extends 'base.html.twig' %}

{% block title %}Office
{% endblock %}

{% block body %}
	<h1>Office</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Idoffice</th>
				<td>{{ office.idoffice }}</td>
			</tr>
			<tr>
				<th>City</th>
				<td>{{ office.city }}</td>
			</tr>
			<tr>
				<th>Manager</th>
				<td>{{ office.manager }}</td>
			</tr>
		</tbody>
	</table>
	<div class="div_tr"></div>
	<a href="{{ path('office_index') }}">back to list</a>

	<a href="{{ path('office_edit', {'idoffice': office.idoffice}) }}">edit</a>
    <div class="div_tr"></div>
	{{ include('office/_delete_form.html.twig') }}
{% endblock %}


{% block stylesheets %}
	<style>
		h1 {
			color: orange;
		}

		table {
			border: solid 1px black;
			width: 20%;
			border-radius: 7px;
			text-align: left;
			padding-left: 10px;
		}

		tr:hover {
			background-color: rgb(193, 226, 211);
		}

		thead {
			font-weight: bold;
			background-color: #fff8b3;
		}

        a{
            padding-left: 7px;
        }

		a:hover {
			font-style: italic;
			color: orange;
		}

		span {
			padding-left: 5px;
		}

		.div_tr {
			height: 6px;
		}

		.td_actions {
			width: 15%;
		}
	</style>
{% endblock %}
